body { 
  background: url(./assets/images/image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h5 a {
  text-decoration: none;
}